$easing: cubic-bezier(.25,1.7,.35,.8);

html {
	background-color: lightblue;
	height: 100%;
}

body {
	height: 100%;

  .menu {
    padding: 0;
    height: 100%;
    position: absolute;
    width: 300px;
    background-color: turquoise;
    left: -300px;
  }
  
	a {
		display: block;
		width: 35px;
    padding-top: 20px;
    text-decoration: none;
    
		.ham {
			width: 35px;
			margin-left: 15px;
			padding-top: 10px;
			height: 20px;
			-webkit-transition: all 0.4s 0.5s $easing; 
      		transition: all 0.5s $easing;
      
      p {
        color: white;
        display: block;
        margin-left: 40px;
        background-color: black;
        position: relative;
        top: -27px;
      }

			div {
				background-color: #fff;
				width: 35px;
				height: 6px;
				display: block;
				position: relative;
				-webkit-transition: all 0.4s 0.5s $easing; 
      			transition: all 0.5s $easing;

				&::before, &::after {
					content: '';
					display: block;
					width: 35px;
					height: 6px;
					background-color: #fff;
					-webkit-transition: all 0.4s 0.5s $easing; 
      				transition: all 0.5s $easing;
				}

				&::before {
					margin-bottom: 5px;
					position: absolute;
					top: -10px;
				}
				&::after {
					margin-top: 5px;
					position: absolute;
					bottom: -10px;
				}
			}

			&:hover {
				div {
					background: none !important;
					-webkit-transition: all 0.5s $easing; 
			      	transition: all 0.5s $easing;
					&::before, &:after {
						top: 0px !important;
						margin: 0;
						padding: 0;
						-webkit-transition: all 0.5s $easing; 
			      		transition: all 0.5s $easing;
					}
				    &::after {
				   		-webkit-transform: rotate(-90deg); 
				     	-ms-transform: rotate(-90deg); 
				      	transform: rotate(-90deg);
				    }
				}
			}
		}
	}
}

.close {
	-webkit-transition: all 0.1s $easing; 
  transition: all 0.1s $easing;
	div {
		background: none !important;
		-webkit-transition: all 0.5s $easing; 
    transition: all 0.5s $easing;
		&::before, &:after {
			top: 0px !important;
			margin: 0;
			padding: 0;
			-webkit-transition: all 0.5s $easing; 
      transition: all 0.5s $easing;
		}
	    &::before {
	      -webkit-transform: rotate(-45deg); 
	      -ms-transform: rotate(-45deg); 
	      transform: rotate(-45deg);
        -webkit-transition: all 0.1s $easing; 
        transition: all 0.1s $easing;
	    }
	    &::after {
	    	top: -5px !important;
	      -webkit-transform: rotate(45deg); 
	      -ms-transform: rotate(45deg); 
	      transform: rotate(45deg);
        -webkit-transition: all 0.1s $easing; 
        transition: all 0.1s $easing;
	    }
	}
	&:hover {
	    div {
        &::before {
          -webkit-transform: rotate(0deg) !important; 
	        -ms-transform: rotate(0deg) !important; 
	        transform: rotate(0deg) !important;
          -webkit-transition: all 0.1s $easing; 
          transition: all 0.1s $easing;
        }
	    	&::after {
          -webkit-transition: all 0.1s $easing; 
      	  transition: all 0.1s $easing;
      	-webkit-transform: rotate(0deg) !important; 
	      -ms-transform: rotate(0deg) !important; 
	      transform: rotate(0deg) !important;
	    		//background: none !important;
	    	}
		}
	}
}