html {
  background-color: lightblue;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }
  body .menu {
    padding: 0;
    height: 100%;
    position: absolute;
    width: 300px;
    background-color: turquoise;
    left: -300px; }
  body a {
    display: block;
    width: 35px;
    padding-top: 20px;
    text-decoration: none; }
    body a .ham {
      width: 35px;
      margin-left: 15px;
      padding-top: 10px;
      height: 20px;
      -webkit-transition: all 0.4s 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      body a .ham p {
        color: white;
        display: block;
        margin-left: 40px;
        background-color: black;
        position: relative;
        top: -27px; }
      body a .ham div {
        background-color: #fff;
        width: 35px;
        height: 6px;
        display: block;
        position: relative;
        -webkit-transition: all 0.4s 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        body a .ham div::before, body a .ham div::after {
          content: '';
          display: block;
          width: 35px;
          height: 6px;
          background-color: #fff;
          -webkit-transition: all 0.4s 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        body a .ham div::before {
          margin-bottom: 5px;
          position: absolute;
          top: -10px; }
        body a .ham div::after {
          margin-top: 5px;
          position: absolute;
          bottom: -10px; }
      body a .ham:hover div {
        background: none !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        body a .ham:hover div::before, body a .ham:hover div:after {
          top: 0px !important;
          margin: 0;
          padding: 0;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        body a .ham:hover div::after {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.close {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .close div {
    background: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .close div::before, .close div:after {
      top: 0px !important;
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .close div::before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
    .close div::after {
      top: -5px !important;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  .close:hover div::before {
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .close:hover div::after {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important; }

/*# sourceMappingURL=style.css.map */
